<!DOCTYPE html>
<html>
  <head>
    <title>GameOfLifeCoccia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%#= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag "application"%>
    <%= yield :javascript_area %>
  </body>
</html>
